<h1>Todos#index</h1>
<p>Find me in app/views/todos/index.html.erb</p>

<h3>form</h3>
<%= form_for @todo do |form|%>
 <%= form.text_field :title %>
 <%= form.submit id: "subbtn"  %>
<%end%>


<div id="todos">
  <%@todos.each do |todo|%>
    <%= todo.title%>
    <br>
  <%end%>
</div>